.wrap{
    background: grey;
    width: 100%;
    height: 100%;
    margin: auto auto;
}

.wrap .header{
    background: #4d4d4d	;
    padding: 20px 10px;
}

.wrap .menu{
    background: #009900f3    ;
    padding: 1px 10px;
}

.badan{
	height: 400px;
}

.wrap .badan .sidebar{
	background: #cccccc	;
	float: left;	
	width: 15%;
	height: 100%;
}


.wrap .badan .content{
    background: #e6e6e6	;
    /* background: #e6e6e6	; */
	float: left;
	height: 100%;
	width: 85%;	
}

.wrap .footer{
	width: auto;
    padding: 10px;
    background: #3a271d8f;
}

.h1{
    font-family: Helvetica;
    color: aliceblue;
    text-align: center;
    margin: 10px;
}

.h2{
    font-family: Helvetica;
    color: #4d4d4d;
    text-align: center;
}